/*Custom properties, son como variables*/
:root{
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --anchoPantalla: 1200px;
    --gris: #757575;
}

html{
    box-sizing: border-box;
    /*Hace que se estire el gradient y se vea mejor*/
    min-height: 100%;
    /**Para dispositivos moviles*/
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body{
    font-family: 'Krub', sans-serif;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    /*Hace que se estire el gradient y se vea mejor*/
    min-height: 100%;
    /**Para dispositivos moviles*/
    font-size: 1.6rem;
}

.site-header{
    background-color: #ffffff;
}

.site-header nav{
    max-width: var(--anchoPantalla);
    margin: 0 auto;
    /*rem sirve para ser responsivo, para pantallas con mucha
    densidad de pixeles*/
    padding: 2rem 0;
    /*?El flexbox se aplica al contenedor padre (Flex container)*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px){
    .site-header nav{
        flex-direction: row;
        justify-content: space-between;
    }
}

.site-header nav a{
    color: var(--oscuro);
    font-size: 2.2rem;
    text-decoration: none;
    margin-bottom: 2rem;
}

h1, h2, h3{
    margin: 0;
}

h2, h3{
    text-align: center;
}

h3{
    color: var(--secundario);
    font-weight: 400;
    font-size: 3rem;
}
p{
    font-size: 1.8rem;
    line-height: 2;
}

.site-header nav a:last-of-type{
    margin-bottom: 0;
}

@media (min-width: 768px){
    .site-header nav a{
        margin-bottom: 0;
    }
}

.hero{
    height: 45rem;
    background-image: url(../img/hero.jpg);
    position: relative;
    display: flex;
    /*Permite centrar un elemento horizontalmente*/
    justify-content: center;
    /*Permite centrar un elemento verticalmente*/
    align-items: center;
}

.hero::after{
    /*Siempre que se usa un after se pone un content
    COlor de fondo: vacio*/
    content:'';
    background-color: rgba(0, 0, 0, .7);
    position: absolute;
    /*De la siguiente forma toma todo el espacio disponible*/
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.contenedor-hero{
    color: white;
    /*Lo trae adelante del hero con transparencia*/
    position: relative;
    z-index: 1;
    text-align: center;
}

.contenedor-hero i{
    font-size: 5rem;
    color: var(--primario);
}

.boton{
    background-color: var(--secundario);
    padding: 1rem 5rem;
    display: inline-block;
    margin-top: 1rem;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.2rem;
    border-radius: .5rem;
    border: none;
}

.boton:hover{
    cursor: pointer;
    background-color: #018897;
}

.contenedor{
    max-width: var(--anchoPantalla);
    margin: 3rem auto;
    background-color: white;
    /*3rem = 30 px*/
    padding: 3rem;
    /*1rem = 10 px*/
    border-radius: 1rem;
    -webkit-box-shadow: 10px 9px 21px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 9px 21px -9px rgba(0,0,0,0.75);
    box-shadow: 10px 9px 21px -9px rgba(0,0,0,0.75);
}

.contenedor-servicios{
    margin-top: 3rem;
}

@media (min-width: 768px){
    .contenedor-servicios{
        display: flex;
        justify-content: space-between;
    }

    .servicio{
        /*Parametros: Factor de crecimiento, se hace mas pequeño, su base*/
        flex: 0 0 calc(33.3% - 1rem);
    }
}

.servicio{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.iconos{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--primario);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 3rem;
    margin-top: 3rem;
}

form{
    background-color: var(--gris);
    padding: 2rem;
    border-radius: 1rem;
    margin-top: 3rem;
}

form legend{
    text-align: center!important;
    font-size: 2rem;
    color: var(--primario);
    margin: 3rem 0;
}

@media (min-width: 768px){
    form{
        max-width: 800px;
        margin: 3rem auto;
    }

    .contenedor-campos{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .campo{
        flex: 0 0 calc(50% - 1rem);
    }
}

.campo{
    display: flex;
    margin-bottom: 2rem;
    padding-top: .5rem;
}

.campo label{
    flex: 0 0 90px;
    color: white;
}

.campo input{
    flex: 1;
    height: 4rem;
}

.campo textarea{
    flex: 1;
    height: 6rem;
}

.w-100{
    flex: 0 0 100%;
}

.enviar{
    display: flex;
    justify-content: flex-end;
}

